<footer class="py-4 px-3 md:px-4 lg:px-6 flex items-start flex-col min-h-[30vh]  border-t border-neutral-900 dark:border-neutral-400">

    <div class="flex flex-row grow items-end justify-end text-lg w-full">

        <div class="mr-4 text-lg flex w-full">
            <div id="email-container" class="grow">
                <a id="email" class="underline" href="mailto:wmaxand@gmail.com">wmaxand@gmail.com</a>
                <a class="text-zinc-500 dark:text-zinc-400" href="#" id="copy-link" onclick="copyEmail()">(⌘C)</a>
            </div>
            <div class="flex-none">
                <a class="underline mr-3 uppercase" href="https://instagram.com/willanderson">Ig</a>
                <a class="underline uppercase" href="https://www.linkedin.com/in/wmaxand/">Li</a>
            </div>

            
        </div>
    </div>

</footer>