<footer class="py-4 px-3 md:px-4 lg:px-6 flex items-start flex-col min-h-[30vh]  border-t border-neutral-900">
    <!-- <p class="lg:text-4xl text-3xl max-w-prose py-4">    
        ✍ Say hello — <br>
        <a class="underline" href="mailto:wmaxand@gmail.com">wmaxand@gmail.com</a>
    </p> -->
    <div class="flex flex-row grow items-end justify-end text-lg">

        <div class="mr-4 text-lg">
            <a class="underline mr-4" href="https://instagram.com/willanderson">Ig</a>
            <a class="underline mr-4" href="https://www.linkedin.com/in/wmaxand/">Li</a>
            <a class="underline mr-4" href="mailto:wmaxand@gmail.com">wmaxand@gmail.com</a>
        </div>
        <!-- <div class="mr-4">
            <p  class="text-stone-400">Thanks for visiting!</p>
        </div> -->
    </div>

</footer>