<nav class="flex justify-between items-center px-3 md:px-4 lg:px-6 w-full sticky top-0 bg-white z-50">
    <a href="{{ '/' | relative_url }}">
        <div class="flex flex-row items-center">
            <div class="mr-2">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="12" fill="#FFCD29" />
                </svg>
            </div>
            <div id="first" class="overflow-hidden h-14 flex items-center relative">
                <div class="text-lg overflow-hidden">
                    <span id="firstName">Will</span>
                    <span id="lastName">Anderson</span>
                </div>
            </div>
        </div>

    </a>

    <div class="text-lg">
        <a href="{{ '/projects/' | relative_url }}" class="mr-4">Work</a>
        <a href="{{ '/about/' | relative_url }}" class="mr-4">Info</a>
    </div>
</nav>