<div class="grid grid-cols-4 gap-x-4">
  <div
    class="bg-black rounded-2xl p-8 col-span-3 flex items-center aspect-[4/3] relative overflow-hidden"
  >
    <div
      class="w-full h-full absolute left-0 top-0 bg-cover bg-center bg-no-repeat"
    ></div>
    <div
      class="w-full h-full flex items-center justify-center relative z-10 p-6 max-h-[80%]"
    >
      <img
        class="drop-shadow-2xl h-full aspect-[4/3]"
        src="/assets/images/product-composer/04.png"
      />
    </div>
  </div>
  <div class="col-span-1 pt-2">
    <div class="text-sm text-zinc-500">
      <p>
        To simplify things, we progressivley disclosed certain fields. For
        example, the field for adding a discounted price only appeared after the
        user marked the product to On Sale.
      </p>
    </div>
  </div>
</div>
