<div class="flex flex-col w-full">
    <!-- Project Thumbnail -->
    <a href="{{ project.url | relative_url }}"
        class="rounded-2xl p-6 h-full flex items-center justify-center grow relative overflow-hidden min-h-[380px] aspect-[3/2] {% unless project.hero_style == 'background' %} bg-black {% endunless %}">

        {% if project.hero_style == 'background' %}
        <div style="background-image: url('{{ project.hero | relative_url }}')"
            class="absolute inset-0 bg-cover bg-center rounded-1xl"></div>
        {% else %}
        <img class="w-full h-full object-contain" src="{{ project.hero | relative_url }}" />
        {% endif %}

    </a>
    <!-- Project Details -->
    {% if include.show_details %}
    <div class="mt-3 flex flex-col">
        <p class="text-lg leading-tight text-stone-400">
            {{ project.company }}
        </p>
        <a href="{{ project.url | relative_url }}">
            <p class="text-xl leading-tight">
                {{ project.preview }}
            </p>
        </a>
    </div>
    {% endif %}
</div>


