---
layout: default
---

<section class="py-4 px-3 md:px-4 lg:px-6 grid grid-cols-4 gap-x-4">
  <h1 class="col-span-4 lg:col-span-3 lg:text-4xl text-3xl max-w-prose py-1">
    {{ page.title }}
  </h1>
</section>


<section class="px-3 md:px-4 lg:px-6 mb-10">

  <div class="mb-4 flex flex-col center">
    <div class="w-full col-span-3 text-xl">
      {% capture formatted_intro %}{{ page.intro | markdownify }}{% endcapture %}
      {% assign paragraphs = formatted_intro | split: '</p>' %}
      {% for paragraph in paragraphs %}
      {% if paragraph != "" %}
      {{ paragraph | append: '</p>' | replace: '<p>', '
      <p class="mb-2 max-w-prose">' }}
        {% endif %}
        {% endfor %}
    </div>
  </div>


  <!-- CV -->

  <div class="flex flex-col center text-xl mb-6">
    <h2 class="text-2xl col-span-4 lg:col-span-1 mt-4">CV</h2>

    <div class="w-full mt-4 col-span-4 lg:col-span-3 text-xl flex flex-col">

      {% for item in page.cv %}

      <div class="mb-6 last-of-type:mb-0 flex lg:flex-row md:flex-row flex-col max-w-prose">


        <div class="flex basis-1/4">
          <div class="text-zinc-500 dark:text-zinc-400 hidden md:block lg:block">{{item.year}}</div>
        </div>
        <div class="flex flex-col basis-3/4">
          <div div class="flex justify-between"><a target="_blank" href="{{item.url}}">{{item.company}}</a>
            <div class="text-zinc-500 dark:text-zinc-400 lg:hidden md:hidden">{{item.year}}</div>
          </div>
          <div class="text-lg text-zinc-500 dark:text-zinc-400 ">{{item.title}} · <span class="text-zinc-500 dark:text-zinc-400">{{item.location}}</span>
          </div>
          <div class="text-xl mt-2 ">{{item.description}}</div>
        </div>
      </div>

      {% endfor %}

    </div>


  </div>

  <div class="flex flex-col center text-xl wyswg">
    {% for section in page.sections %}
    <h2 class="text-2xl col-span-4 lg:col-span-1 mt-4">{{ section.title }}</h2>

    <div class="w-full mt-4 col-span-4 lg:col-span-3 text-xl flex flex-col">
    
      <div class="w-full col-span-3 text-xl">
        {% capture formatted_content %}{{ section.content | markdownify }}{% endcapture %}
        {% assign paragraphs = formatted_content | split: '</p>' %}
        {% for paragraph in paragraphs %}
          {% if paragraph != "" %}
          {{ paragraph | append: '</p>' | replace: '<p>', '
        <p class="mb-2 max-w-prose">' }}
          {% endif %}
        {% endfor %}
      </div>

    </div>
    {% endfor %}


  </div>

  <!-- About -->
</section>