---
layout: default
---

<section class="py-4 px-3 md:px-4 lg:px-6 grid grid-cols-4 gap-x-4 min-h-[50vh] border-b border-neutral-900 dark:border-neutral-400">
  <h1 class="col-span-4 lg:text-5xl text-4xl max-w-prose">
    Will Anderson is a Product Designer living in Brooklyn, NY. He's created work for companies like
    <span class="whitespace-nowrap">
      <span class="ig lg:w-12 lg:h-12 w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Instagram,
    </span>

    <span class="whitespace-nowrap">
      <span class="fb-color lg:w-12 lg:h-12 w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Facebook,
    </span>

    <span class="whitespace-nowrap">
      <span class="coinbase lg:w-12 lg:h-12 w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Coinbase, and
    </span>

    <span class="whitespace-nowrap">
      <span class="sqsp lg:w-12 lg:h-12 w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Squarespace.
    </span>
  </h1>
</section>


<section class="px-3 md:px-4 lg:px-6 mb-10">

  <!-- CV -->

  <div class="flex flex-col center text-xl mt-10 mb-6">
    <h2 class="text-2xl col-span-4 lg:col-span-1 mt-4">CV</h2>

    <div class="w-full mt-4 col-span-4 lg:col-span-3 text-xl flex flex-col">

      {% for item in page.cv %}

      <div class="mb-6 last-of-type:mb-0 flex lg:flex-row md:flex-row flex-col max-w-prose">


        <div class="flex basis-1/4">
          <div class="text-zinc-500 dark:text-zinc-400 hidden md:block lg:block">{{item.year}}</div>
        </div>
        <div class="flex flex-col basis-3/4">
          <div div class="flex justify-between"><a target="_blank" href="{{item.url}}">{{item.company}}</a>
            <div class="text-zinc-500 dark:text-zinc-400 lg:hidden md:hidden">{{item.year}}</div>
          </div>
          <div class="text-lg text-zinc-500 dark:text-zinc-400 ">{{item.title}} · <span class="text-zinc-500 dark:text-zinc-400">{{item.location}}</span>
          </div>
          <div class="text-xl mt-2 ">{{item.description}}</div>
        </div>
      </div>

      {% endfor %}

    </div>


  </div>

  <!-- Selected work -->

  <div class="flex flex-col center text-xl mb-10">
    <a class="text-2xl mt-4 mb-4" href="{{ '/projects/' | relative_url }}">Past work &rarr;</a>

    <div id="selected-work-carousel" class="selected-work-carousel -mr-3 overflow-x-auto pb-2 pr-3 md:-mr-4 md:pr-4 lg:-mr-6 lg:pr-6">
      <div class="flex w-max">
        {% for copy in (1..2) %}
          <div class="selected-work-set flex shrink-0 gap-4 pr-4"{% unless copy == 1 %} aria-hidden="true"{% endunless %}>
          {% for project in site.projects %}
            <div class="w-[72vw] max-w-[420px] shrink-0 md:w-[38vw] lg:w-[28vw]">
              {% include project-preview.html project=project show_details=false compact=true %}
            </div>
          {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="flex flex-col center text-xl wyswg">
    {% for section in page.sections %}
    <h2 class="text-2xl col-span-4 lg:col-span-1 mt-4">{{ section.title }}</h2>

    <div class="w-full mt-4 col-span-4 lg:col-span-3 text-xl flex flex-col">
    
      <div class="w-full col-span-3 text-xl">
        {% capture formatted_content %}{{ section.content | markdownify }}{% endcapture %}
        {% assign paragraphs = formatted_content | split: '</p>' %}
        {% for paragraph in paragraphs %}
          {% if paragraph != "" %}
          {{ paragraph | append: '</p>' | replace: '<p>', '
        <p class="mb-2 max-w-prose">' }}
          {% endif %}
        {% endfor %}
      </div>

    </div>
    {% endfor %}


  </div>

  <!-- About -->
</section>
