<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:title" content="{{ page.title | default: site.title }}" />
  <meta property="og:description" content="{{ page.description | default: site.description }}" />
  <meta property="og:image" content="assets/images/poster.png" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe.min.css"
    integrity="sha512-TdCx5ObKpq3+lwUdiXFgFLhqwTB98YsdaQWSJrwkOz084qaeO86+NMYfU/pnpPo1pDVah0a7yvFmbcvI8ZiGAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <title>{{ page.title | default: site.title }}</title>
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/fav.png' | relative_url }}" />
</head>

<body>
  {% include nav.html %} {{ content }} {% include footer.html %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe-lightbox.esm.min.js"
  integrity="sha512-BSWjxbwxteqrvkMPgWQrDNYiz1D4htzpxDgwrzgOf2T4AvUrgXHxCbI5DNaNNHit8qLwEgbDNXtztz+btTa3tQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module" src="{{ '/assets/js/app.js' | relative_url }}"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</html>