---
layout: default
---

<section class="py-4 px-3 md:px-4 lg:px-6 grid grid-cols-4 gap-x-4 min-h-[50vh]">
  <h1 class="col-span-4 lg:text-5xl text-4xl max-w-prose">
    Will Anderson is a Product Designer living in Brooklyn, NY. He's created work for companies like
    <span class="whitespace-nowrap">
      <span class="fb-color lg:w-12 lg:h-12 w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Facebook,
    </span>

    <span class="whitespace-nowrap">
      <span class="artsy dark:artsy-dark lg:w-12 lg:h-12  w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Artsy,
    </span>

    <span class="whitespace-nowrap">
      <span class="coinbase lg:w-12 lg:h-12  w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Coinbase, and
    </span>

    <span class="whitespace-nowrap">
      <span class="sqsp lg:w-12 lg:h-12  w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Squarespace.
    </span>
     
  </h1>
</section>




<section class="py-4 px-3 md:px-4 lg:px-6 mb-6">
  <a href="{{ '/projects/' | relative_url }}">
    <h2 class="lg:text-4xl text-3xl py-4">Recently added -></h2>
  </a>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">

  {% assign published_posts_count = 0 %}



    {% for project in site.projects %}
        {% if published_posts_count < 2 %}
        {% include project-preview.html project=project show_details=false %}
           {% assign published_posts_count = published_posts_count | plus: 1 %}
          {% else %}
          {% break %}
        {% endif %}
    {% endfor %}
  </div>
</section>

