---
layout: default
---

<section class="py-4 px-3 md:px-4 lg:px-6 grid grid-cols-4 gap-x-4 min-h-[50vh]">
  <h1 class="col-span-4 lg:text-5xl text-4xl max-w-prose">
    Will Anderson is a Product Designer living in New York, NY. He's created work for companies like
    <span class="fb-color lg:w-12 lg:h-12 w-9 h-9 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Facebook,
    <span class="sqsp lg:w-12 lg:h-12 w-9 h-9 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Squarespace, 
    <span class="coinbase lg:w-12 lg:h-12 w-9 h-9 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Coinbase, and
    <span class="artsy lg:w-12 lg:h-12 w-9 h-9 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Artsy.
  </h1>
</section>





<section class="py-4 px-3 md:px-4 lg:px-6 mb-6">
  <a href="{{ '/projects/' | relative_url }}">
    <h2 class="lg:text-4xl text-3xl py-4 underline">Recent work</h2>
  </a>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-3 md:gap-4 lg:gap-6">

    {% for project in site.projects | limit: 4 %}
    <a href="{{ project.url | relative_url }}">
      <div class="bg-black rounded-2xl p-4 h-full flex items-center justify-center">
        <img class="max-h-[80%]" src="{{ project.hero | relative_url }}" />
      </div>
    </a>
    {% endfor %}

  </div>
</section>

<!-- <section class="p-4">
  <h1 class="text-2xl py-2 underline">CV</h1>
  <div class="grid grid-cols-1">
    <div class="md:grid lg:grid lg:grid-cols-4 grid-cols-3 gap-x-4 text-2xl py-3">
      <div class="flex items-center">
        <i class="meta w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1"></i>
        <span class="lg:block md:block hidden">Meta</span>
      </div>
      <div>Product Designer</div>
      <div class="text-gray-400">2022–Present</div>
    </div>
    <div class="md:grid lg:grid lg:grid-cols-4 grid-cols-3 gap-x-4 text-2xl py-3">
      <div class="flex items-start">
        <i class="fa w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1"></i>
        <span class="lg:block md:block hidden">Free Association</span>
      </div>
      <div>Design Lead</div>
      <div class="text-gray-400">2020–2022</div>
    </div>
    <div class="md:grid lg:grid lg:grid-cols-4 grid-cols-3 gap-x-4 text-2xl py-3">
      <div class="flex items-start">
        <i class="artsy w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1"></i>
        <span class="lg:block md:block hidden">Artsy</span>
      </div>
      <div>Senior Product Designer</div>
      <div class="text-gray-400">2020</div>
    </div>
    <div class="md:grid lg:grid lg:grid-cols-4 grid-cols-3 gap-x-4 text-2xl py-3">
      <div class="flex items-start">
        <i class="sqsp w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1"></i>
        <span class="lg:block md:block hidden">Squarespace</span>
      </div>
      <div>Product Designer</div>
      <div class="text-gray-400">2018-2020</div>
    </div>
    <div class="md:grid lg:grid lg:grid-cols-4 grid-cols-3 gap-x-4 text-2xl py-3">
      <div class="flex items-start">
        <i class="everlane w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1"></i>
        <span class="lg:block md:block hidden">Everlane</span>
      </div>
      <div>Product Designer</div>
      <div class="text-gray-400">2015-2018</div>
    </div>
    <div class="md:grid lg:grid lg:grid-cols-4 grid-cols-3 gap-x-4 text-2xl py-3">
      <div class="flex items-start">
        <i class="madewell w-8 h-8 bg-no-repeat bg-left-center inline-block mr-1"></i>
        <span class="lg:block md:block hidden">Madewell</span>
      </div>
      <div>Web Designer</div>
      <div class="text-gray-400">2014</div>
    </div>
  </div>
</section> -->