---
layout: default
---

<section class="py-4 px-3 md:px-4 lg:px-6 grid grid-cols-4 gap-x-4 min-h-[50vh]">
  <h1 class="col-span-4 lg:text-5xl text-4xl max-w-prose">
    Will Anderson is a Product Designer living in Brooklyn, NY. He's created work for companies like
    <span class="fb-color lg:w-12 lg:h-12 w-9 h-9 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Facebook,
    <span class="sqsp lg:w-12 lg:h-12 w-9 h-9 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Squarespace, 
    <span class="coinbase lg:w-12 lg:h-12 w-9 h-9 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Coinbase, and
    <span class="artsy lg:w-12 lg:h-12 w-9 h-9 bg-no-repeat bg-left-center inline-block mr-1 bg-cover bg-[center_top_0.25rem]"></span>Artsy.
  </h1>
</section>




<section class="py-4 px-3 md:px-4 lg:px-6 mb-6">
  <div class="flex flex-row items-center">
    <h2 class="lg:text-4xl text-3xl py-4">Recent work</h2><span class='ml-2 comingsoon'>Coming Soon</span>
  </div>
   
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-3 md:gap-4 lg:gap-6">

  {% assign published_posts_count = 0 %}



    {% for project in site.projects %}
      {% if project.status == "Featured" %}
        {% if published_posts_count < 2 %}
            <div class="bg-klein rounded-2xl p-6 lg:p-14 h-full flex items-center justify-center">
              <img class="object-contain aspect-[4/3] opacity-50 mix-blend-color-dodge" src="{{ project.hero | relative_url }}" />
            </div>
           {% assign published_posts_count = published_posts_count | plus: 1 %}
          {% else %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</section>

