---
layout: default
---

<section class="px-4 py-4 grid grid-cols-4 gap-x-4">
  <h1 class="col-span-4 lg:col-span-3 lg:text-4xl text-3xl max-w-prose py-1">
    Recent Work
  </h1>
</section>

<section class="p-4 mb-6">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-x-5 gap-y-8 ">
    {% for project in site.projects %}
    <div class="flex flex-col">
      <div class="bg-black rounded-2xl p-14 h-full flex items-center justify-center grow">
        <a href="{{project.url | relative_url }}">
        <img class="max-h-[80%]" src="{{ project.hero | relative_url }}" />
        </a>
      </div>
      <div class="mt-3 flex flex-col">
        <p class="text-lg leading-tight text-stone-400">
          {{project.company}}
        </p>
        <a href="{{project.url | relative_url }}">
          <p class="text-xl leading-tight">
            {{project.preview}} ->
          </p>
        </a>

      </div>
    </div>
    {% endfor %}

  </div>
</section>